*{
    margin: 0px;
    padding: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.header{
    height:80vh;
    width: 100%;
    background-image:linear-gradient(rgba(0,0,0,.3),rgba(0,0,0,.3)), url('../img/banner.jpg');
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content{
    text-align: center;
    width: 500px;
}
.content h1{
    font-size: 30px;
    color: #fff;
    text-transform: uppercase;
}
.content p{
    font-size: 16px;
    color: #fff;
   font-weight: 200px;
}
.content a{
    font-size: 16px;
    color: black;
    font-weight: 200px;
    text-decoration: none;
    display: inline-block;
    padding: 10px 25px;
    background-color: #fff;
    border-radius: 5px;
}

/*  modal css */

.modal-container{
    position: fixed;
    height: 100vh;
    width: 100%;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-image: linear-gradient(rgba(255,255,255,.7),rgba(255,255,255,.7));
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
}
.modal{
    height: 350px;
    width: 350px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.2),  0 2px 4px 0 rgba(0, 0, 0, 0.1);
   
}
.modal-header {
    text-align: center;
    padding: 15px 20px;
    position: relative;
    border-bottom: 1px solid #e9e9e9;
}
.modal-header h3{
    font-size: 20px;
}
.modal-header button{
    position: absolute;
    right: 10px;
    top: 15px;
    border: none;
    font-size: 20px;
    background-color: transparent;
    cursor: pointer;
}
.modal-body {
    padding: 15px 20px;
}

/* alert Popup */
.alert{
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: rgba(255,255,255,.6);
display: flex;
justify-content: center;
align-items: center;
display: none;
}

.alert .alert-container{
    width: 500px;
    background-color: #fff;
    border-radius: 10px;
    
}
.alert .alert-container .alert-header{
    padding: 15px 10px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #e9e9e9;
}

.alert .alert-container .alert-header .close{
    background-color: #D8DFDA;
    border: none;
    display: inline-block;
    width: 30px;
    height: 30px;
    font-size: 24px;
    font-weight: normal;
    border-radius: 20%;
    cursor: pointer;
}

.alert .alert-container .alert-body{
    padding: 15px 20px;
}
.alert .alert-container .alert-body .btns{
    text-align: right;
    margin-top: 15px;
}
.alert .alert-container .alert-body .btns a{
    display: inline-block;
    padding: 7px 20px;
    border: none;
    font-size: 14px;
    border-radius: 5px;
    text-decoration: none;
}
.alert .alert-container .alert-body .btns a:nth-child(1){
    color: #1E6ED8;
 }
.alert .alert-container .alert-body .btns a:nth-child(2){
background-color: #1E6ED8;
color: #fff;
}